[submodule "trip-management"]
	path = trip-management
	url = git@github.com:voyage-pi/trip-management.git
[submodule "recommendations"]
	path = recommendations
	url = git@github.com:voyage-pi/recommendations.git
