[submodule "trip-management"]
        path = trip-management
        url = git@github.com:voyage-pi/trip-management.git
[submodule "recommendations"]
        path = recommendations
        url = git@github.com:voyage-pi/recommendations.git
[submodule "frontend"]
        path = frontend
        url = git@github.com:voyage-pi/frontend.git
[submodule "maps-wrapper"]
        path = maps-wrapper
        url = git@github.com:voyage-pi/maps-wrapper.git
[submodule "place-wrapper"]
        path = place-wrapper
        url = git@github.com:voyage-pi/place-wrapper.git
[submodule "user-management"]
	path = user-management
	url = git@github.com:voyage-pi/user-management.git
[submodule "landing-page"]
	path = landing-page
	url = git@github.com:voyage-pi/landing-page.git
